* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

:root {
    --main-text-color: #6495ed;
    --main-border-color: #efefefc2;
}

body {
    background: linear-gradient(180deg, #21232afb, #192d53f5, #192d53ea);
    color: #fff;
    font-family: "Montserrat", Arial, sans-serif;
    padding: 60px;
    min-height: 100vh;
}

.div_form{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid var(--main-border-color);
    border-radius: 5px 0px 0px 5px;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    margin: 20px 0px 10px;
    letter-spacing: 1px;
    padding: 0.6em 1.3em;
    transition: all 200ms ease 0s;
    width: 100%;
}

input:focus {
    background-color: rgba(100, 150, 235, 0.3);
    box-shadow: -5px -5px 25px rgba(30, 90, 150, 0.3), -5px 5px 30px rgba(10, 50, 250, 0.2), 7px -2px 30px rgba(50, 135, 190, 0.3);
    outline: none;
}

.btnSearch{
    background-color: #0019ff1a;
    border: 2px solid var(--main-border-color);
    border-left: 0px;
    border-radius: 0px 5px 5px 0px;
    color: inherit;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    margin: 20px 0px 10px;
    padding: 0.6em 1.3em;
    transition: all 200ms ease 0s;
}

.card {
    align-content: center;
    background: rgb(15, 22, 36);
    box-shadow: 0 0.1rem 0.3rem #000000;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-right: 5px;
    width: 100%;
    overflow: hidden;
    transition: all 500ms ease 0s;
    position: relative;
}

.card p {
    color: #fff;
    font-weight: bold;
    padding: 8px;
    text-align: center;
    text-transform: capitalize;
    transition: all 500ms ease 0s;
}

.card img {
    width: 100%;
}

.card-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

h1 {
    font-size: 2rem;
    text-align: center;
}

h2 {
    color: var(--main-text-color);
    font-size: 1.3rem;
    text-align: center;
    padding: 10px 0px;
}

.gif-title {
    font-size: 1.5rem;
    text-align: center;
    padding: 15px 0px;
}

.loading {
    color: var(--main-text-color);
    font-size: 1.6rem;
    text-align: center;
}

.footer {
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
    padding-top: 9px;
    text-transform: lowercase;
}

.link {
    color: var(--main-text-color);
    text-decoration: none;
    transition: all 500ms ease 0s;
}

.icon-github {
    color: #fff;
    font-size: 1.1rem;
    padding: 0px 5px;
    transition: all 500ms ease 0s;
}

.main-hr {
    margin-top: 20px;
}

.link-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0,0,0,.450);
    font-size: 2rem;
    opacity: 0;
    text-decoration: none;
    transition: opacity .5s;
}

.container_not_found{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px 0px;
}

.not_found{
    text-align: center;
    font-size: 2rem;    
    width: 100%;
}

.img_results{
    width: 250px;
}

a{
    text-decoration: none;
    color: white;
}

/* Media queries 576px, 768px, 992px y 1200px */

@media(min-width: 576px) {
    .card {
        width: 48%;
    }
    .footer {
        text-align: end;
    }
    .main-hr {
        display: none;
    }
    .gif-title,
    .loading {
        text-align: left;
    }
    .card img {
        max-height: 170px;
    }
}

@media(min-width: 768px) {
    .card {
        width: 30%;
    }
}

@media(min-width: 992px) {
    h1 {
        font-size: 2.5rem;
    }
    h2 {
        font-size: 1.4rem;
    }
    input,
    .btnSearch {
        font-size: 1.3rem;
    }
    .card img {     
        height: 300px;
    }
    .container_not_found{
        padding: 35px 0px;
    }
    .not_found{
        font-size: 2.3rem;
    }
    .img_results{
        width: 260px;
    }
    .link-img:hover{
        opacity: 1;
    }
}

@media(min-width: 1200px) {
    h1 {
        font-size: 2.8rem;
    }
    h1 a {
        transition: all 500ms ease 0s;
    }
    h1 a:hover {
        color: rgba(255, 255, 255, 0.705);
    }
    h2 {
        font-size: 1.5rem;
    }
    input,
    .btnSearch {
        font-size: 1.4rem;
    }
    .card {
        width: 300px;
    }
    .link:hover,
    .icon-github:hover {
        color: #325ba7;
    }
    form,
    .content-wrapper {
        padding: 12px 45px;
    }
    .card{
        margin-bottom: 26px;
    }
    .footer{
        padding-right: 45px;
    }
    .card img {     
        width: 300px;  
    }
    .not_found{
        font-size: 2.6rem;
    }
    .img_results{
        width: 280px;
    }
    .btnSearch:hover{
        background-color: #001aff49;
    }
}